.calculator {
  padding: 200px 20px 66px;
  max-width: 768px;
  width: 100%;
  min-width: 320px;

  &__mode {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    @media (max-width: 580px) {
      top: 24px ;
    }
  }

  &__display {
    height: 175px;
    text-align: right;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @media (max-width: 580px) {
      height: 88px;
    }
  }

  &__display-history {
    font-weight: 300;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 16px;
    color: var(--color-text);
    opacity: .4;
    @media (max-width: 580px) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__display-sum {
    font-weight: 300;
    font-size: 96px;
    line-height: 96px;
    color: var(--color-text);
    overflow-x: scroll;
    overflow-y: hidden;
    direction: rtl;

    &::-webkit-scrollbar {
      display: none;
    }

    @media (max-width: 580px) {
      font-size: 48px;
      line-height: 48px;
    }
  }

  &__buttons {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(4, 1fr);
  }
}
