.calculator-switch {
  display: block;
  position: relative;
  height: 32px;
  border-radius: 16px;
  background-color: var(--color-button-medium);
  cursor: pointer;

  &__titles {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 16px;
    height: 100%;
  }

  &__title {
    font-size: 12px;
    line-height: 32px;
    font-weight: 400;
    color: var(--color-text);
    text-align: center;
    display: block;
    width: 50%;
    height: 100%;
    vertical-align: middle;
    position: relative;
    z-index: 10;
  }

  &__input {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: -1;

    &:checked + .calculator-switch__toggle {
      left: 0;
      transform: translateX(100%) ;
    }
  }

  &__toggle {
    position: absolute;
    z-index: 5;
    display: block;
    width: 50%;
    background-color: var(--color-button-high);
    border-radius: 16px;
    height: 100%;
    left: 0;
    top: 0;
    transition: .2s ease-in-out all;
  }

}
